@{
    ViewBag.Title = "Training Project";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Reach out to <a href="mailto:b.franco@toa-se.com">b.franco@toa-se.com</a> with any questions</p>
</main>